<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>New Item</title>
</head>
<body>

  <h1>Add Item</h1>

  <form action="/items/new" method="POST">
    <label>
      Name:
      <input type="text" name="name" required>
    </label>
    <br><br>

    <label>
      "Quantity in stock":
      <input type="number" name="quantity_in_stock" required>
    </label>
    <br><br>

    <label>
      Price:
      <input type="number" name="price" step="0.01">
    </label>
    <br><br>

    <label>
      Category:
      <select name="category_id" required>
        <% categories.forEach(category => { %>
          <option value="<%= category.id %>">
            <%= category.name %>
          </option>
        <% }) %>
      </select>
    </label>
    <br><br>

    <button type="submit">Create</button>
  </form>

  <a href="/items">⬅ Back</a>

</body>
</html>
