<h1>Inventory App</h1>

<ul>
  <li><a href="/categories">View Categories</a></li>
  <li><a href="/items">View Items</a></li>
  <li><a href="/categories/new">Add Category</a></li>
  <li><a href="/items/new">Add Item</a></li>
</ul>
